.Movie{
  background-color: white;
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 50px;
  text-overflow: ellipsis;
  padding: 0 20px;
  box-shadow: 0 8px 38px rgba(133, 133, 133,0.3),
  0 5px 12px rgba(133, 133, 133, 0.2);
}
.Movies_Columns{
 width: 30%;
 box-sizing: border-box;
 text-overflow: ellipsis;


}
.Movies_Columns:last-child{

  padding: 20px 0;
  width:  60% ;
}

.Movie h1{
  font-size: 20px;
  font-weight: 600;

}
.Movie .Movie_Genres{

  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;

}
.Movie_Genres .Movie_Genre{

  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;

}